---
import Layout from '../layouts/Layout.astro';
import { DynamicContextProvider, DynamicWidget} from '@dynamic-labs/sdk-react';
---
<Layout title="Welcome to Astro.">
	<DynamicContextProvider settings={{
		environmentId: '67ddb74b-e30f-4039-9a25-f033c79f1207'
	}}>
		<main>
			<DynamicWidget client:only />
		</main>
	</DynamicContextProvider>
</Layout>
